<div class="description-grid">
  <div class="description-grid__info">
    <mat-tab-group style="margin-top: 10px">
      <mat-tab label="{{lang}}" *ngFor="let lang of langs">
        <mat-card>
          <h4>Description</h4>
          <mat-form-field class="description__text-input">
            <input matInput placeholder="Name" [value]="dataSource.name">
          </mat-form-field>
          <mat-form-field class="description__text-input">
            <textarea matInput placeholder="Description" [value]="dataSource.description" rows="8"></textarea>
          </mat-form-field>
        </mat-card>
        <mat-card>
          <div class="heading">
            <h4>Seo</h4>
            <span class="spacer"></span>
            <button mat-stroked-button color="primary">Auto</button>
          </div>
          <div class="seo__block">
            <mat-form-field *ngFor="let option of seoOptions">
              <input matInput type="text" placeholder="{{option}}">
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Description" [value]="dataSource.description" rows="6"></textarea>
            </mat-form-field>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <mat-card>
      <mat-form-field>
        <input matInput type="text" placeholder="Seo Link">
      </mat-form-field>
    </mat-card>

  </div>
  <div class="description-grid__params">

    <div class="description-grid__params-col">

      <mat-card>
        <div class="heading">
          <h4>{{brands.groupName}}</h4>
          <span class="spacer"></span>
          <button mat-stroked-button color="primary">Auto</button>
        </div>
        <mat-form-field *ngFor="let option of brands.options">
          <mat-select placeholder="{{option.fieldName}}">
            <mat-option *ngFor="let brand of option.list" [value]="brand.value">
              {{brand.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>

      <mat-card>
        <div class="heading">
          <h4>{{prices.groupName}}</h4>
          <span class="spacer"></span>
          <button mat-stroked-button color="primary">Auto</button>
        </div>
        <mat-form-field *ngFor="let option of prices.options">
          <input matInput type="text" placeholder="{{option.fieldName}}" [value]="option.value">
        </mat-form-field>
      </mat-card>
      <mat-card>
        <div class="heading">
          <h4>Categories</h4>
        </div>
        <mat-form-field>
          <mat-select placeholder="Categories" [formControl]="productCategories" multiple>
            <mat-option *ngFor="let option of categoryList" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>

    <span class="spacer"></span>
    <mat-card class="description-grid__params-col">
      <h4>Parameters</h4>
      <mat-form-field *ngFor="let option of textfields">
        <input matInput type="text" placeholder="{{option.viewValue}}" [value]="option.value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Availability">
          <mat-option *ngFor="let option of availability" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Status">
          <mat-option *ngFor="let option of status" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>
</div>
