<mat-card class="heading">
  <h3 class="heading-title">
    {{dataSource.name}}
  </h3>
  <span class="spacer"></span>
  <button mat-stroked-button>Back</button>
  <button mat-stroked-button color="primary">Save</button>
  <button mat-stroked-button color="warn">Delete</button>
</mat-card>
<mat-tab-group>
  <!--descrition section omfg must be a component-->
  <mat-tab label="description">
    <mat-tab-group style="margin-top: 10px">
      <mat-tab label="{{lang}}" *ngFor="let lang of langs">
        <div class="description-grid">
          <div class="description-grid__info">
            <mat-card>
              <h4>Description</h4>
              <mat-form-field class="description__text-input">
                <input matInput placeholder="Name" [value]="dataSource.name">
              </mat-form-field>
              <mat-form-field class="description__text-input">
                <textarea matInput placeholder="Description" [value]="dataSource.description" rows="8"></textarea>
              </mat-form-field>
              <mat-form-field class="description__text-input">
                <input matInput placeholder="Youtube Link" [value]="">
              </mat-form-field>
            </mat-card>
            <mat-card>
              <div class="heading">
                <h4>Seo</h4>
                <span class="spacer"></span>
                <button mat-stroked-button color="primary">Auto</button>
              </div>
              <div class="seo__block">
                <mat-form-field *ngFor="let option of seoOptions">
                  <input matInput type="text" placeholder="{{option}}">
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput placeholder="Description" [value]="dataSource.description" rows="6"></textarea>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
          <div class="description-grid__params">
            <mat-card class="description-grid__params-col">
              <div class="heading">
                <h4>{{brands.groupName}}</h4>
                <span class="spacer"></span>
                <button mat-stroked-button color="primary">Auto</button>
              </div>
              <mat-form-field *ngFor="let option of brands.options">
                <mat-select placeholder="{{option.fieldName}}">
                  <mat-option *ngFor="let brand of option.list" [value]="brand.value">
                    {{brand.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <h4>{{prices.groupName}}</h4>
              <mat-form-field *ngFor="let option of prices.options">
                <input matInput type="text" placeholder="{{option.fieldName}}" [value]="option.value">
              </mat-form-field>
              <h4>Categories</h4>
              <mat-form-field>
                <mat-select placeholder="Categories" [formControl]="productCategories" multiple>
                  <mat-option *ngFor="let option of categoryList" [value]="option">{{option}}</mat-option>
                </mat-select>
              </mat-form-field>
              <h4>Time to wait</h4>
              <div class="slider-container">
                <span>Min</span>
                <mat-slider
                  thumbLabel
                  min="1"
                  max="100">
                </mat-slider>
              </div>
              <div class="slider-container">
                <span>Max</span>
                <mat-slider
                  thumbLabel
                  min="1"
                  max="100">
                </mat-slider>
              </div>
            </mat-card>
            <span class="spacer"></span>
            <mat-card class="description-grid__params-col">
              <h4>Parameters</h4>
              <mat-form-field *ngFor="let option of textfields">
                <input matInput type="text" placeholder="{{option.viewValue}}" [value]="option.value">
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Availability">
                  <mat-option *ngFor="let option of availability" [value]="option.value">
                    {{option.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Status">
                  <mat-option *ngFor="let option of status" [value]="option.value">
                    {{option.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="options">
    <!--options component zomg -->
    <div>
      <mat-card class="options-grid__params">
        <div class="options-heading">
          <mat-form-field class="options-heading__input" *ngFor="let option of options">
            <input matInput type="text" placeholder="{{option.viewValue}}" [value]="option.value">
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="options-tabs">
          <div class="options-tabs__heading">
            <span class="spacer"></span>
            <mat-form-field>
              <input matInput type="text" #newTabName placeholder="New option">
            </mat-form-field>
            <button mat-stroked-button
                    class="example-add-tab-button"
                    (click)="addTab(newTabName.value)">
              Add new
            </button>
          </div>
          <mat-tab-group [selectedIndex]="selected.value"
                         (selectedIndexChange)="selected.setValue($event)">
            <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
              <button mat-raised-button
                      class="example-delete-tab-button"
                      [disabled]="tabs.length === 1"
                      (click)="removeTab(index)">
                Delete
              </button>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="images">
    <p>images</p>
  </mat-tab>
</mat-tab-group>
