<mat-card class="heading">
  <button mat-raised-button matTooltip="Back"><mat-icon>arrow_back</mat-icon></button>
  <h3 class="heading-title">
    {{dataSource.name}}
  </h3>
  <span class="spacer"></span>
  <button mat-raised-button matTooltip="Save" color="primary"><mat-icon>check</mat-icon></button>
  <button mat-raised-button matTooltip="Delete" color="warn"><mat-icon>close</mat-icon></button>
</mat-card>
<mat-tab-group>
  <!--descrition section now a component-->
  <mat-tab label="description">

    <app-details-properties [dataSource]="dataSource"></app-details-properties>

  </mat-tab>
  <mat-tab label="options">
    <!--options component zomg -->
    <app-details-options [dataSource]="dataSource"></app-details-options>
  </mat-tab>
  <mat-tab label="images">
    <app-details-images></app-details-images>
  </mat-tab>
</mat-tab-group>
