<div cdkDropListGroup class="brands-setup">
  <div class="brands-setup__container-manufacturers">
    <mat-card>
      <div class="heading">
        <h4 class="heading-title">Manufacturers</h4>
        <span class="spacer"></span>
        <a mat-raised-button [routerLink]="['./edit']" color="accent">
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </mat-card>
    <div class="manufacturers-list">

      <mat-card *ngFor="let manufacturer of manufacturersList" class="manufacturers-list__item mat-elevation-z6">
        <div class="heading">
          <p>{{manufacturer.name}}</p>
          <span class="spacer"></span>
          <a mat-raised-button [routerLink]="['./brand']" color="accent">
            <mat-icon>edit</mat-icon>
          </a>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="manufacturer.brands"
          class="example-list mat-elevation-z4"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of manufacturer.brands" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <span>{{item.name}}</span>
            <span class="spacer"></span>
            <a mat-raised-button [routerLink]="['./brand']" color="accent">
              <mat-icon>edit</mat-icon>
            </a>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <mat-card class="brands-setup__container-brands">
    <div>
      <div class="heading">
        <h4 class="heading-title">Brands</h4>
        <span class="spacer"></span>
        <a mat-raised-button [routerLink]="['./brand']" color="accent">
          <mat-icon>add</mat-icon>
        </a>
      </div>

      <div
        cdkDropList
        [cdkDropListData]="brandList"
        class="example-list mat-elevation-z4"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of brandList" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <span>{{item.name}}</span>
          <span class="spacer"></span>
          <a mat-raised-button [routerLink]="['./brand']" color="accent">
            <mat-icon>edit</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-card>
</div>
