<div class="brands-block">
  <mat-card class="manufacturers-setup">
    <div class="heading">
      <h4 class="heading-title">
        Manufacturers
      </h4>
      <span class="spacer"></span>
      <a mat-raised-button color="accent">
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>
    <div class="manufacturers-setup__item" *ngFor="let item of dataSource">
      <div class="manufacturers-setup__item-container">
        <div class="manufacturers-setup__item-info">
          <span>{{item.name}}</span>
        <span class="spacer"></span>
          <span>{{item.overprice + '%'}}</span>
          <a mat-raised-button color="accent" [routerLink]="['./edit']">
            <mat-icon>edit</mat-icon>
          </a>
        </div>



        <div class="manufacturers-setup__brands" dropzone="move">
          <div class="brands-setup__item" *ngFor="let brand of item.brands"  draggable="true">
            <span>{{brand.name}}</span>
            <span class="spacer"></span>
            <a mat-raised-button color="accent" [routerLink]="['./brand']">
              <mat-icon>edit</mat-icon>
            </a>
          </div>
        </div>

      </div>
      <div class="divider-wrapper">
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card>
  <mat-card class="brands-setup">
    <div class="heading">
      <h4 class="heading-title">
        Brands
      </h4>
      <span class="spacer"></span>
      <a mat-raised-button color="accent">
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>
    <div class="brands-setup__container">
      <div class="brands-setup__item" *ngFor="let brand of brandList">
        <span>{{brand}}</span>
        <span class="spacer"></span>
        <a mat-raised-button color="accent">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </div>
  </mat-card>
</div>
