<form
  formG
  class="options-editor">
  <mat-card class="options-editor__props">
    <div class="flex">
      <div class="options-editor__input-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Option name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" value="">
        </mat-form-field>
      </div>
      <span class="spacer"></span>
      <div class="options-editor__input-group">
        <mat-form-field class="example-full-width">
          <input type="number" matInput placeholder="Priority" value="0">
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="selected">
            <mat-option [value]=option *ngFor="let option of optionTypes">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-card class="options-editor__values">
    <div class="heading">
      <h4 class="heading-title">Option Values</h4>
      <span class="spacer"></span>
      <button mat-raised-button color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="options-editor__content" *ngIf="selected === 'Color'">
      <div class="options-editor__content-values">
        <div>
          <img src="../../../../../assets/img/color.png" alt="" width="50" height="50">
        </div>
        <div class="options-editor__input-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Option value" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Option value" value="">
          </mat-form-field>
        </div>
        <div class="options-editor__input-group options-editor__input-group_short">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Option value" value="">
          </mat-form-field>
        </div>
        <span class="spacer"></span>
        <div class="flex">
          <button mat-raised-button color="primary" (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <button mat-raised-button color="warn">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="options-editor__content" *ngIf="selected ==='Size'">
      <div class="options-editor__content-values">
        <div>
          <img src="../../../../../assets/img/color.png" alt="" width="50" height="50">
        </div>
        <div class="options-editor__input-stroke">
          <div class="options-editor__input-group options-editor__input-group_short"
               *ngFor="let size of sizes">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{size}}" value="">
            </mat-form-field>
          </div>
        </div>
        <span class="spacer"></span>
        <div class="flex">
          <button mat-raised-button color="primary">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <button mat-raised-button color="warn">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>


  </mat-card>
</form>
