.selection-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(1, auto);
}

.purchase-list {
  margin-top: 20px;
}

.purchase-filter__text {
  margin-left: 10px;
}

mat-selection-list {
  width: 100%;
}

h4 {
  padding: 5px;
}

.purchase-ordered {
  background: rgba(55, 199, 75, 0.6);
}

mat-list-option[aria-selected="true"] {
  background: rgba(50, 199, 139, 0.6);
}

mat-list-option[aria-selected="true"].purchase-ordered {
  background: rgba(0, 139, 139, 0.6);
}
