<form class="brand-form" [formGroup]="brandForm" novalidate (ngSubmit)="save()">
  <mat-card>
    <div class="brand-container">
      <div class="brand-description">
        <mat-tab-group>
          <mat-tab
            *ngFor="let lang of productLanguage"
            label="{{lang.code}}" formGroupName="name">
            <div class="brand-lang__tab-container">
              <mat-form-field
                appearance="outline"
                class="example-full-width">
                <mat-label>Name of brand</mat-label>
                <input matInput placeholder="Enter name" formControlName="{{lang.code}}">
              </mat-form-field>
              <!--<mat-form-field appearance="outline" class="description__text-input">-->
                <!--<mat-label>Description</mat-label>-->
                <!--<textarea matInput placeholder="Description" [value]="brand.description[lang]" rows="10"></textarea>-->
              <!--</mat-form-field>-->
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="brand-options">
        <div class="brand-options__image-container">
          <div class="heading">
            <h5 class="heading-title">Logo</h5>
          </div>
          <div class="brand-options__image">
            <input *ngIf="!brand.logo" type="file" placeholder="image here">
            <img [src]="brand.logo" alt="">
          </div>
        </div>
        <div class="brand-options__props-container">
          <div class="heading">
            <h5 class="heading-title">Properties</h5>
          </div>
          <div class="brand-options__props">
            <mat-form-field
              appearance="outline"
              class="">
              <mat-label>Priority</mat-label>
              <input matInput placeholder="Priority" value="{{brand.priority}}" type="number" formControlName="priority">
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="">
              <mat-label>Power of priority</mat-label>
              <input matInput placeholder="Enter power" value="{{brand.priority_power}}" formControlName="priority_power">
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="">
              <mat-label>Seo keyword</mat-label>
              <input matInput placeholder="Enter word" value="{{brand.seo_keyword}}" formControlName="seo_keyword">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <button type="submit" mat-raised-button color="accent">save</button>
</form>
