<form class="brand-form" [formGroup]="brandForm" novalidate (ngSubmit)="save()">
  <mat-card>
    <div class="brand-container">
      <div class="brand-description">
        <mat-tab-group>
          <mat-tab
            *ngFor="let lang of productLanguage"
            label="{{lang.code}}">
            <div class="brand-lang__tab-container">
              <div formGroupName="name">
                <mat-form-field
                  appearance="outline"
                  class="brand-lang__input-container">
                  <mat-label>Name of brand</mat-label>
                  <input matInput placeholder="Enter name" formControlName="{{lang.code}}">
                </mat-form-field>
              </div>
              <div formGroupName="description">
                <mat-form-field appearance="outline" class="description__text-input brand-lang__input-container">
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Description" formControlName="{{lang.code}}" rows="10"></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="brand-options">
        <div class="brand-options__image-container">
          <div class="heading">
            <h5 class="heading-title">Logo</h5>
          </div>
          <div class="brand-options__image">
            <app-image-loader [imageHash]="brand.logo"></app-image-loader>
          </div>
        </div>
        <div class="brand-options__props-container">
          <div class="heading">
            <h5 class="heading-title">Properties</h5>
          </div>
          <div class="brand-options__props">
            <mat-form-field
              appearance="outline"
              class="">
              <mat-label>Priority</mat-label>
              <input matInput placeholder="Priority" value="{{brand.priority}}" type="number" formControlName="priority">
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="">
              <mat-label>Power of priority</mat-label>
              <input matInput placeholder="Enter power" value="{{brand.priority_power}}" formControlName="priority_power">
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="">
              <mat-label>Seo keyword</mat-label>
              <input matInput placeholder="Enter word" value="{{brand.seo_keyword}}" formControlName="seo_keyword">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <button type="submit" mat-raised-button color="accent">save</button>
</form>
<button mat-raised-button color="warn" (click)="del()">delete</button>
