.drop-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

table {
  width: 100%;
}

.table-container {
  height: 66vh;
  overflow: auto;
  width: 77vw;
}

.options-container {
  margin-left: 2px;
}

.example-list {
  margin: 5px;
  width: 70vw;
  min-height: 190px;
  max-width: 100%;
  border: solid 1px #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background: white;
  border-radius: 4px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*.example-box:last-child {*/
  /*border: none;*/
/*}*/

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-container2 {
  height: 65vh;
  width: 190px;
  max-width: 100%;
  margin: 0 10px;
  vertical-align: top;
  overflow-y: scroll;
}

.example-list2 {
  border: solid 1px #ccc;
  min-height: 300px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box2 {
  width: 170px;
  height: 170px;
  padding: 10px 10px;
  margin: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box__del {
  position: absolute;
  top: 3px;
  left: 3px;
  display: none;
}

.example-box {
  width: 320px;
  height: 170px;
  padding: 10px 10px;
  margin: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  position: relative;
}

.example-box:hover > .example-box__del {
  display: block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*.example-box2:last-child {*/
  /*border: none;*/
/*}*/

.example-list.cdk-drop-list-dragging .example-box2:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image__image {
  width: 150px;
  height: auto;
}
