<div cdkDropListGroup class="drop-list">
  <div class="table-container">

    <div class="flex color-group mat-elevation-z2" *ngFor="let color of dataSource">
      <div>
        <p></p>{{color.name}}
        <img src="../../../../../../assets/img/color.png" alt="" width="50" height="50" style="display: block">
      </div>

      <div cdkDropList
           cdkDropListOrientation="horizontal"
           [cdkDropListData]="color.list"
           class="example-list" (cdkDropListDropped)="drop($event)">

        <div class="example-box mat-elevation-z2" *ngFor="let item of color.list" cdkDrag>
          <button class="example-box__del" mat-mini-fab color="warn">
            <mat-icon>clear</mat-icon>
          </button>


          <app-details-image-form [dataSource]="item"></app-details-image-form>
        </div>
      </div>

    </div>

    <mat-card class="images-loader mat-elevation-z4">

      <div class="example-container2">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          [cdkDropListData]="colors"
          class="example-list2"
          (cdkDropListDropped)="drop($event)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="example-box2 mat-elevation-z2" *ngFor="let item of colors" cdkDrag>

            <img class="image__image" [src]="'http://img.grey-line.com/g/'+ '2e6d694c253609244e065fa03abd9011' + '?s=small'" alt="">
          </div>
        </div>
      </div>
      <div class="flex">
        <span class="spacer"></span>
        <button mat-raised-button color="primary">Add Image</button>
      </div>
    </mat-card>
  </div>

</div>

