.drop-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 300px;
}

.table-container {
  width: 100%;
}

.options-container {
  margin-left: 2px;
}

.example-list {
  margin: 5px;
  width: 100%;
  min-width: 90%;
  min-height: 190px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background: white;
  border-radius: 4px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 170px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*.example-box:last-child {*/
  /*border: none;*/
/*}*/

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 170px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-container2 {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  width: 100%;
  margin: 10px;
}

.example-list2 {
  margin: 0 auto;
  width: 98%;
  border: solid 1px #ccc;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.example-box2 {
  width: 170px;
  height: 170px;
  padding: 10px 10px;
  margin: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box__del {
  position: absolute;
  transform: scale(0.8);
  top: -15px;
  left: -15px;
  display: none;
  opacity: 1;
}

.example-box {
  width: 320px;
  height: 170px;
  padding: 10px 10px;
  margin: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  position: relative;
}

.example-box:hover > .example-box__del {
  display: block;
  opacity: 0.3;
}

.example-box__del:hover {
  opacity: 1 !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*.example-box2:last-child {*/
  /*border: none;*/
/*}*/

.example-list.cdk-drop-list-dragging .example-box2:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image__image {
  width: 150px;
  height: auto;
}

.images-loader {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 200px;
  height: 250px;
  z-index: 100 !important;
}

.color-group {
  background-color: #FFFFFF;
  margin: 5px 0;
  border-radius: 4px;
}
