.order-details {
  /*display: grid;*/
}

.order-details__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-details__header > span {
  margin-right: 20px;
}

.order-details__controls {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, auto);
}
