<div class="example-container mat-elevation-z8">
  <mat-card>
    <div class="heading">
      <h3 class="heading-title">Options</h3>
      <span class="spacer"></span>
      <button mat-raised-button color="primary">Create new
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef> Priority</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="actions_container">
          <span class="spacer"></span>
          <a
            [routerLink]="['./edit']"
            class="control__button"
            matTooltip="edit option"
            mat-raised-button
            color="accent">
            <mat-icon>edit</mat-icon>
          </a>
          <button
            matTooltip="delete option"
            mat-raised-button
            color="warn">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
