.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.element-row {
  position: relative;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
}

.heading-title {
  margin: 0 0 0 10px;
}

a, button {
  margin: 0 5px;
}

.actions_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.element-row:hover {
  background: rgba(245, 245, 245, 0.5);
}

.control__button {
  margin: 10px;
}
