<div>
  <mat-card>
    <div class="heading">
      <h4 class="heading-title">List #1</h4>
    </div>
  </mat-card>
  <div class="invoice-form">
    <form class="invoice-form__form" autocomplete="off">
      <mat-card class="invoice-form__form-container">
        <mat-form-field class="invoice-form__input" appearance="outline">
          <mat-label>Invoice number</mat-label>
          <input matInput type="text" placeholder="Enter number">
        </mat-form-field>
        <mat-form-field class="invoice-form__input" appearance="outline">
          <mat-label>Comment</mat-label>
          <input matInput type="text" placeholder="Enter comment">
        </mat-form-field>

        <mat-form-field class="invoice-form__form-input" appearance="outline">
          <mat-label>Manufacturer</mat-label>
          <mat-select placeholder="Manufacturer">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let manufacturer  of manufacturers" [value]="manufacturer">
              {{manufacturer}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="invoice-form__form-input" appearance="outline">
          <mat-label>Item</mat-label>
          <mat-select placeholder="Item">
            <mat-option value="">None</mat-option>
            <mat-option *ngFor="let item  of items" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="flex">
          <span class="spacer"></span>
        <button mat-raised-button color="accent">Add</button>
        </div>
      </mat-card>
    </form>

    <div class="invoice-form__table">
      <mat-card>
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element">
              <span *ngFor="let option of element.options">{{option.type + ': ' + option.value}};&nbsp;</span>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef> Manufacturer</th>
            <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Count</th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image</th>
            <td mat-cell *matCellDef="let element"> No Image</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <button class="invoice-form__table-delete-element" mat-mini-fab color="warn">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="flex" style="margin-top: 10px">
          <span class="spacer"></span>
          <button mat-raised-button color="accent">Create list</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
