<div>
  <div class="heading">
    <h4 class="heading-title">List #1</h4>
  </div>
  <div class="invoice-form">
    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Invoice number</mat-label>
        <input matInput type="text" placeholder="Enter number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <input matInput type="text" placeholder="Enter comment">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="invoice-items">
    <mat-card></mat-card>
  </div>
</div>
