<div>
  <mat-card class="orders-filter">
    <div class="orders-filter__datepickers">
      <mat-form-field class="orders-filter__datepicker" appearance="outline">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="pickerStart" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="orders-filter__datepicker" appearance="outline">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="pickerEnd" placeholder="Choose a end date">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="orders-filter__datepicker" appearance="outline">
        <mat-label>Delivery filter</mat-label>
        <mat-select placeholder="Toppings" [formControl]="delivers" multiple>
          <mat-select-trigger>
            {{delivers.value ? delivers.value[0] : ''}}
            <span *ngIf="delivers.value?.length > 1" class="example-additional-selection">
        (+{{delivers.value.length - 1}} {{delivers.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let delivery of deliveryList" [value]="delivery">{{delivery}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" class="orders-filter__datepicker-btn">Today</button>
      <button mat-raised-button color="warn" class="orders-filter__datepicker-btn" type="reset">Clear</button>
    </div>
  </mat-card>
  <mat-card class="orders-list">
    <mat-tab-group>
      <mat-tab *ngFor="let tab of tabs" label="{{tab}}">
        <ul class="orders-grid">
          <li *ngFor="let order of orders; let i = index;"
              [ngStyle]="{'background-color': setDeliveryColor(order.delivery)}"
              class="orders-grid__card mat-elevation-z4">
            <a [routerLink]="['./order']">
              <span>Order ID: {{order.id}}</span>
              <span>Name: {{order.user_name}}</span>
              <span>Country: {{order.country}}</span>
              <span>Items: {{order.items}}</span>
            </a>
          </li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
