.image__image {
  width: 100px;
  height: auto;
}

.image__params {
  margin-left: 10px;
  margin-right: 10px;
  align-items: flex-start;
}

.image__params p {
  width: 100%;
  margin: 3px;
  text-align: center;
  font-weight: 600;
}

.image__params div {
  margin-left: 5px;
}

.image__params button {
  margin: 3px;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.button {
  background: none;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 2px;
  opacity: 0;
  font-size: 16px;
  font-weight: 600;
}
:host:hover .button {
  opacity: 0.3;
}

.button:hover {
  opacity: 1 !important;
}

.priority__container {
  position: absolute;
  bottom: -10px;
  left: 3px;
}

.button__priority_first {
  background-color: green;
}

.button__priority_second {
  background-color: orange;
}
