<div>
  <button mat-raised-button color="accent" (click)="addValues()">add</button>
  <button mat-raised-button color="primary" type="submit">save</button>
  <form
    autocomplete="off"
    novalidate
    [formGroup]="currencyForm"
    (ngSubmit)="formSave()">
    <div formArrayName="values" *ngFor="let value of values.controls; let i=index">
      <div class="flex" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Value</mat-label>
          <input matInput type="text" formControlName="value">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
