<div>
  <mat-card class="flex">
    <h4 class="heading">121213</h4>
  </mat-card>
  <mat-card class="incoming-item">
    <div class="incoming-item__container">
      <div class="incoming-item__image">image</div>
      <div class="incoming-item__text">
        <span>this is name!</span>
      </div>
      <div class="incoming-item__text">
        <span>this is manufacturer</span>
      </div>
      <div class="incoming-item__text">
        <span>this is options</span>
      </div>
      <div class="incoming-item__checkbox">
        <mat-checkbox></mat-checkbox>
      </div>
    </div>
  </mat-card>
</div>
