<div>
  <mat-card>
    <div class="heading">
      <h4 class="heading-title">
        Manage delivery
      </h4>
      <span class="spacer"></span>
      <a mat-raised-button color="accent">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let movie of movies" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div>
      {{movie}}
        <a mat-raised-button color="accent">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
