/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "custom-theme.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
}

.heading-title {
  margin: 0 0 0 10px;
}
