<div>
  <ul class="assembly-orders__list order-list">
    <li  *ngFor="let item of orderList">
      <a href="#" class="order-list__link">
      <mat-card class="orders-list__item" [ngStyle]="{'background-color': item.type_color}">
          <span class="list-item__id">{{item.id}}</span>
          <span class="spacer"></span>
          <span class="list-item__weight">{{item.weight}}</span>
      </mat-card>
      </a>
    </li>
  </ul>
<div class="assembly-bottom">
  <button mat-raised-button>ololol</button>
</div>
</div>
