<mat-expansion-panel *ngFor="let navItem of navList.items">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>{{navItem.iconName}}</mat-icon>
      <span class="header-title">{{navItem.displayName}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a
      mat-list-item
      class="menu-item"
      routerLinkActive="menu-item_active"
      [routerLink]="['/'+navItem.route+'/'+navLink.route]"
      *ngFor="let navLink of navItem.children">
      <mat-icon>{{navLink.iconName}}</mat-icon>
      {{navLink.displayName}}
    </a>
  </mat-nav-list>
</mat-expansion-panel>
