<div class="example-container mat-elevation-z8">
  <div class="table-filter">
    <mat-form-field class="table-filter__input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-form-field class="table-filter__select">
      <mat-select [(value)]="selected">
        <mat-option
          *ngFor="let option of displayedColumns"
          value="{{option}}">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Brand</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
    </ng-container>

    <!--Expanded Content Column - The detail row is made up of this one column-->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        The symbol for {{detail.element.name}} is {{detail.element.symbol}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [class.expanded]="expandedElement == row"
             (click)="expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
             [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row>
  </mat-table>
</div>
