<!--<div class="example-container mat-elevation-z8">-->
  <!--<mat-table [dataSource]="dataSource">-->

    <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
          <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

    <!--&lt;!&ndash; Position Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="position">-->
      <!--<mat-header-cell *matHeaderCellDef> No.</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Name Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="name">-->
      <!--<mat-header-cell *matHeaderCellDef> Name</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Weight Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="weight">-->
      <!--<mat-header-cell *matHeaderCellDef> Weight</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash;Expanded Content Column - The detail row is made up of this one column&ndash;&gt;-->
    <!--<ng-container matColumnDef="expandedDetail">-->
      <!--<mat-cell *matCellDef="let detail">-->
        <!--The symbol for {{detail.element.name}} is {{detail.element.symbol}}-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"-->
             <!--matRipple-->
             <!--class="element-row"-->
             <!--[class.expanded]="expandedElement == row"-->
             <!--(click)="expandedElement = row"></mat-row>-->
    <!--<mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"-->
             <!--[@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"-->
             <!--style="overflow: hidden">-->
    <!--</mat-row>-->
  <!--</mat-table>-->
<!--</div>-->
